<h1>Order a Pizza</h1>

{% if note %}
<h5>{{note}}</h5>
{% endif  %}

<form enctype="multipart/form-data"
      action="{% url 'order' %}" method="post">

    {% csrf_token %}

    {{pizza_form.as_p}}

<!--    <label for="topping1">Topping 1: </label>-->
<!--    <input type="text" name="topping1" id="topping1">-->

<!--    <label for="topping2">Topping 2: </label>-->
<!--    <input type="text" name="topping2" id="topping2">-->

<!--    <select name="size" id="size">-->
<!--        <option value="Small">Small</option>-->
<!--        <option value="Medium">Medium</option>-->
<!--        <option value="Large">Large</option>-->
<!--    </select>-->

    <input type="submit" value="Order Pizza">
</form>